<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> My Amazon</title>
    <h1>Welcome to My Amazon!</h1>
  </head>
  <body>
  <h2> This website is owned by <i>Nikhil Ballal</i> </h2>
  {% if session['username'] %}  <!-- if logged in to session with username-->
  <p>{{ session['username'] }}</p>
  {% else %}
  <b><i>GUEST USER</i><b>
  {% endif %}
  {% if not session['username'] %}

  <p>SIGN IN, if you have already SIGNED UP</p>
 <!-- so that we dont want the username and password tabs to appear when logged in -->
  <form action = "/login" method = "POST" id = "match"> <!-- we use 'id' so that we can link the button to the correct forms -->
  <input type = "text" name = "username" placeholder = "username"> <br>
  <input type = "password" name = "password" placeholder = "password">
  </form>
  <p><button type = "submit" form = "match" value = "Submit">Submit</button></p>
  <br>
  {% else %}
  <a href = "/logout">Logout</a> <!-- then show 'logout' link-->
  {% endif %}
  <p> <a href = "/signup"> CLICK HERE </a> &nbsp if new user </p>
  </body>
</html>
