{% extends 'base.html' %}
  </head>
  {% block body %}
  <body>
  {% if session["c_type"] == "buyer" %}
  <p> list of products to purchase: </p>
  <p>{{ session['username'] }}</p>
  {% for product in products %}
  <ul>
    <li>{{ product["productsname"] }}</li>
    <li>{{ product["description"] }}</li>
    <li>{{ product["cost"] }}</li>
  </ul>
  <li><b> sold by </b> : {{ product["seller_name"]}}</li><br>
  <form action = "/add_cart" method = "POST">
  <input type = "hidden" name= "product_id" value="{{product['_id']}}">
  <input type = "submit" name = "submit" value="buy">
  </form>
  {% endfor %}
  {% else %}
  {% for prod in prods %}   <!--looping for seller products -->
  <ul>
    <li> product name:  {{ prod["productsname"] }}</li>
    <li> product description: {{ prod["description"] }}</li>
    <li> product cost: {{ prod["cost"] }}</li>
  </ul>
  {% endfor %}
  {% endif %}
  </body>
  {% endblock body %}
</html>
