{% extends 'base.html' %}
    <title> Products </title>
    {% block body %}
    <h1>Welcome to Amazon Products!</h1>
  </head>
  <body>
  <h2> This has been built by Nikhil Ballal </h2>
  {% if session['username'] %}  <!-- if logged in to session with username-->
  <p>{{ session['username'] }}</p>
  {% else %}
  <p>guest user</p>
  {% endif %}
  {% if session['c_type'] == "seller" %}  <!-- if logged in to session with username-->
    <form action = "/addproduct" method = "POST" id = "form"> <!-- we use 'id' so that we can link the button to the correct forms -->
    <input type = "text" name = "productsname" placeholder = "product name..."> <br>
    <input type = "text" name = "description" placeholder  = "description..."><br>
    <input type = "text" name = "cost" placeholder = "cost..."><br>
    </form>
    <br>
    <button type = "submit" form = "form" value = "Submit">Submit</button>
    <p><a href="/yourproducts">Click here</a> to see the products added by you</p>
    <br><br>

    {% else %}

  <p><a href="/productslist">Click here</a> to go to products page and buy some products</p>

  {% endif %}
  {% endblock body %}
  </body>
